--green-25: #edfaf2;
--green-50: #d9f4e4;
--green-75: #b8ebcc;
--green-100: #8cdfad;
--green-200: #66d492;
--green-300: #40c977;
--green-400: #04b84c;
--green-500: #00a240;
--green-600: #008635;
--green-700: #00692a;
--green-800: #004f1f;
--green-900: #003716;
--green-950: #011c0b;
--green-1000: #001207;
--green-a25: #04b84c14;
--green-a50: #04b84c26;
--green-a75: #04b84c4a;
--green-a100: #04b84c73;
--green-a200: #04b84c99;
--green-a300: #04b84cbf;
--purple-25: #f9f5fe;
--purple-50: #efe5fe;
--purple-75: #e0cefd;
--purple-100: #ceb0fb;
--purple-200: #be95fa;
--purple-300: #ad7bf9;
--purple-400: #924ff7;
--purple-500: #8046d9;
--purple-600: #6b3ab4;
--purple-700: #532d8d;
--purple-800: #3f226a;
--purple-900: #2c184a;
--purple-950: #160c25;
--purple-1000: #100a19;
--purple-a25: #924ff70f;
--purple-a50: #924ff726;
--purple-a75: #924ff747;
--purple-a100: #924ff773;
--purple-a200: #924ff799;
--purple-a300: #924ff7bf;

--orange-25: #fff5f0;
--orange-50: #ffe7d9;
--orange-75: #ffcfb4;
--orange-100: #ffb790;
--orange-200: #ff9e6c;
--orange-300: #ff8549;
--orange-400: #fb6a22;
--orange-500: #e25507;
--orange-600: #b9480d;
--orange-700: #923b0f;
--orange-800: #6d2e0f;
--orange-900: #4a2206;
--orange-950: #281105;
--orange-1000: #211107;
--orange-a25: #fb6a2212;
--orange-a50: #fb6a2229;
--orange-a75: #fb6a2254;
--orange-a100: #fb6a227a;
--orange-a200: #fb6a22a6;
--orange-a300: #fb6a22cf;
--red-25: #fff0f0;
--red-50: #ffe1e0;
--red-75: #ffc6c5;
--red-100: #ffa4a2;
--red-200: #ff8583;
--red-300: #ff6764;
--red-400: #fa423e;
--red-500: #e02e2a;
--red-600: #ba2623;
--red-700: #911e1b;
--red-800: #6e1615;
--red-900: #4d100e;
--red-950: #280b0a;
--red-1000: #1f0909;
--red-a25: #fa423e14;
--red-a50: #fa423e29;
--red-a75: #fa423e4c;
--red-a100: #fa423e7a;
--red-a200: #fa423ea3;
--red-a300: #fa423ec9;
--pink-25: #fff4f9;
--pink-50: #ffe8f3;
--pink-75: #ffd4e8;
--pink-100: #ffbada;
--pink-200: #ffa3ce;
--pink-300: #ff8cc1;
--pink-400: #ff66ad;
--pink-500: #e04c91;
--pink-600: #ba437a;
--pink-700: #963c67;
--pink-800: #6e2c4a;
--pink-900: #4d1f34;
--pink-950: #29101c;
--pink-1000: #1a0a11;
--pink-a25: #ff66ad14;
--pink-a50: #ff66ad29;
--pink-a75: #ff66ad47;
--pink-a100: #ff66ad73;
--pink-a200: #ff66ad99;
--pink-a300: #ff66adc2;
--yellow-25: #fffbed;
--yellow-50: #fff6d9;
--yellow-75: #ffeeb8;
--yellow-100: #ffe48c;
--yellow-200: #ffdb66;
--yellow-300: #ffd240;
--yellow-400: #ffc300;
--yellow-500: #e0ac00;
--yellow-600: #ba8e00;
--yellow-700: #916f00;
--yellow-800: #6e5400;
--yellow-900: #4d3b00;
--yellow-950: #261d00;
--yellow-1000: #1a1400;
--yellow-a25: #ffc30014;
--yellow-a50: #ffc30026;
--yellow-a75: #ffc30045;
--yellow-a100: #ffc30073;
--yellow-a200: #ffc30096;
--yellow-a300: #ffc300bd