.light-theme {
  /* sidebar background color: SideBar */
  /* 50 */
  --bard-color-sidenav-background-desktop: #e9eef6;

  /* 主色容器 (选中状态) */
  /* 200 */
  --gem-sys-color--primary-container: #1f3760;

  --gem-sys-color--on-primary-container: #0842a0;

  /* 200 */
  --gem-sys-color--secondary-container: #c2e7ff;
  /* 700 */
  --gem-sys-color--on-secondary-container: #004a77;

  /* surface container background color: Popup/mat-menu */

  --gem-sys-color--surface-container: #f0f4f9;

  /* 页面/ResponseContainer */
  --gem-sys-color--surface: #f0f8f5;

  /* 页面Container 里的字体：800 */
  --gem-sys-color--on-surface-variant: #444746;

  /* 用户消息（文本）的背景色 */
  /* 100 */
  --gem-sys-color--surface-container-high: #e9eef6;

  /* 整体字体 */
  /* 900 */
  --gem-sys-color--on-surface: #1f1f1f;

  /* 边框颜色 */
  --gem-sys-color--outline-variant: #116932;

  /* 图标 color */
  /* 700 */
  --mat-icon-button-icon-color: #116932;

  /* 整体图标颜色: 800 */
  --mat-icon-color: #124a28;

  /* App 空白页底色 */
  --bard-color-surface-dim-tmp: #f6fff9;

  /* Chat Table：50 */
  --gem-sys-color--surface-container-low: color-mix(in srgb, #eef7f0, gray 5%);

  /* --gem-sys-color--surface-container-low: color-mix(in srgb, #eef7f0, white 50%); */

  /* Chat Input border：50 */
  --gem-sys-color--outline-low: color-mix(in srgb, #116932, white 60%);
}

.light-theme speech-dictation-mic-button {
  /* 700 */
  color: #116932
}